* {
    /* 文章列表 */
    --mo-article-column-height: 100px;
    --mo-article-column-row-border-radius: 10px;
    --mo-article-column-row-background-color-hover: #f5f7fa;
    --mo-article-column-title-font-size: 16px;
    --mo-article-column-title-font-weight: 500;
    --mo-article-column-title-color: #555666;
    --mo-article-column-title-color-hover: red;
    --mo-article-column-description-font-size: 14px;
    --mo-article-column-description-color: #999aaa;
    --mo-article-column-time-font-size: 14px;
    --mo-article-column-time-color: #999;
    --mo-article-column-action-font-size: 14px;
    --mo-article-column-action-color: #222226;
    --mo-article-column-button-hover: #666;
}
